*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    background-image: url("https://cdn.suwalls.com/wallpapers/meme/meme-compilation-21800-1920x1080.jpg");
    background-size: cover;
    background-color: cyan;
    background-position-y:bottom;
    background-blend-mode:lighten;
    
}


.header{
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 30px;
}


.header-logo{
    position:absolute;
    margin-top: 10px;
    width: 18rem;
    background-color: white;
    object-fit: contain;
    border-radius: 20px;
    padding: 0px 20px;
    box-shadow: 0px 0px 10px 0px gray;
    animation: move 15s infinite linear;

}
@keyframes move{
    0%{left:0%}
    50%{
        left: 100%;
        transform: translatex(-100%);
    }
    100%{left:0%}
}