*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    background-image: url("https://cdn.suwalls.com/wallpapers/meme/meme-compilation-21800-1920x1080.jpg");
    background-size: cover;
    background-color: rgb(150, 150, 150);
    background-position-y:bottom;
    background-blend-mode:lighten;
    
   
}


.header{
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 30px;
}


.header-logo{
    position:absolute;
    margin-top: 1rem;
    width: 18rem;
    background-color: white;
    object-fit: contain;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px gray;
}


.meme--box{
    width:100%;
    padding: 0 2rem;
    align-items: center;
    margin-top:3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:2rem;
}
.input--area{
  width: 70%;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap:1px;
}

input[type=text]{
   border-style:none;
   padding: 10px 15px;
   width:49%;
   border-radius: 10px;
   border: solid 3px cyan;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media only screen and (max-width:400px){
  .input--area{
      flex-direction: column;
  }

  input[type=text]{
      width:100%;
  }

}

#submit,#download{
    width:100%;
    margin-top: 10px;
    border-style: none;
    padding: 7px 15px;
    background-image: linear-gradient(to right, #0373fd, #009cff, #00bfff, #00deff, #49f9ff);
    color:white;
    border-radius: 10px;
    cursor: pointer;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
}
.meme--image img{
    border-radius: 5px;
    width:25rem;
    box-shadow: 0px 0px 10px 3
    px cyan;
}
.meme--image{
    position:relative;
    max-width: 100%;
}
.meme--text{
    width: 80%;
    text-align: center;
    padding: 0px 10px;
    color:white;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}
.top{
    position: absolute;
    top:5%;
    left:50%;
    transform: translatex(-50%);
}

.bottom{
    position: absolute;
    bottom:5%;
    left:50%;
    transform: translatex(-50%);
    
}

